.bx1 {
  background-color: goldenrod;
  width: 100%;
  height: 600px;
  display: flex;
  animation-name: bgcolor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bgcolor {
  0% {
    background-color: black;
  }

  25% {
    background-color: goldenrod;
  }

  75% {
    background-color: purple;
  }

  100% {
    background-color: black;
  }

}

.text1 {
  position: absolute;
  width: 82%;
  height: 40%;
  top: 34%;
  left: 18%;
}

.box1 {
  position: relative;
  margin-left: 80px;
  width: 650px;
  height: 600px;
  justify-content: space-between;
}

.pic {
  position: absolute;
  width: 500px;
  height: 490px;
  top: 60px;
  left: 75px;
}

.pic1 {
  position: absolute;
  width: 240px;
  height: 240px;
  animation-name: pic1;
  animation-duration: 7s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes pic1 {
  0% {
    top: 0px;
    left: 0px;
  }

  25% {
    top: 0px;
    left: 260px;
  }

  50% {
    right: 0px;
    top: 250px;
  }

  75% {
    right: 260px;
    top: 250px;
  }

  100% {
    right: 260px;
    top: 0px;
  }
}

.pic2 {
  position: absolute;
  width: 240px;
  height: 240px;
  right: 0px;
  top: 0px;
  animation-name: pic2;
  animation-duration: 7s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes pic2 {
  0% {
    top: 0px;
    right: 0px;
  }

  25% {
    top: 250px;
    right: 0px;
  }

  50% {
    right: 260px;
    top: 250px;
  }

  75% {
    right: 260px;
    top: 0px;
  }
}

.pic3 {
  position: absolute;
  width: 240px;
  height: 240px;
  right: 00px;
  bottom: 0px;
  animation-name: pic3;
  animation-duration: 7s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes pic3 {

  0% {
    top: 250px;
    right: 0px;
  }

  25% {
    top: 250px;
    right: 260px;
  }

  50% {
    right: 260px;
    top: 0px;
  }

  75% {
    right: 0px;
    top: 0px;
  }

  100% {
    right: 0px;
    top: 250px;
  }
}

.pic4 {
  position: absolute;
  width: 240px;
  height: 240px;
  left: 0px;
  bottom: 0px;
  animation-name: pic4;
  animation-duration: 7s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes pic4 {

  0% {
    bottom: 0px;
    left: 0px;
  }

  25% {
    bottom: 250px;
    left: 0px;
  }

  50% {
    bottom: 250px;
    left: 260px;
  }

  75% {
    left: 260px;
    bottom: 0px;
  }

  100% {
    right: 260px;
    bottom: 0px;
  }
}

.btn3 {
  border: none !important;
  background: linear-gradient(to right, goldenrod, black);
  font-size: 18px !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  border-radius: 7px !important;
  padding: 10px !important;
  width: 200px;
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
}

.box2-1 {
  justify-content: center;
  width: 25%;
  display: flex;
}

.box2-1-1 {
  flex: 1;
}

.box2-1-2 {
  flex: 2;
}

.box2-2-1 {
  flex: 1;
}

.box2-2-2 {
  flex: 2;
}

.box2-3-1 {
  flex: 1;
}

.box2-3-2 {
  flex: 2;
}

.box2-4-1 {
  flex: 1;
}

.box2-4-2 {
  flex: 2;
}

.box3 {
  width: 100%;
  height: 300px;
}

.heading1 {
  color: white;
  font-weight: 600;
  margin: 20px -11px;
  line-height: 30px;
  font-size: 23px;
}

.heading2 {
  color: white;
  font-weight: 600;
  margin: 20px -11px;
  line-height: 30px;
  font-size: 23px;
}

.heading3 {
  color: white;
  font-weight: 600;
  margin: 34px -11px;
  line-height: 30px;
  font-size: 23px;
}

.heading4 {
  color: white;
  font-weight: 600;
  margin-top: 20px;
  margin-left: -9px;
  line-height: 30px;
  font-size: 23px;
}

.img1 {
  margin-left: 705px;
  margin-top: 30px;
}

.heading5 {
  color: white;
  margin-left: 560px;
  font-weight: bold;
}

.para1 {
  width: 1450px;
  margin-left: 30px;
  text-align: center;
 
}
@media screen and (max-width: 500px){
 .bx1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
 }
 .animation{
  flex-wrap: wrap;
  margin-top: -270px;
  margin-left: 0px;
  width: 200px;
  height: 200px;
 }
 .pic {
  position: absolute;
  margin-top: 0px;
  width: 210px;
  height: 210px;
  margin-left: 0px;
}

.pic img{
  width: 100px;
}
.text1{
  width: 80%;
  margin-left: 0px;
  /* text-align: center; */
}
.pic1 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0px;
  top: 0px;
  animation-name: pic1;
  animation-duration: 7s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes pic1 {
  0% {
    left: 0px;
    top: 0px;
  }

  25% {
    top: 0px;
    left: 110px;
  }

  50% {
    left: 110px;
    top: 110px;
  }

  75% {
    left: 0px;
    top: 110px;
  }

  100% {
    right: 110px;
    bottom:110px;
  }
}

.pic2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  right: 0px;
  animation-name: pic2;
  animation-duration: 7s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes pic2 {
  0% {
    top: 0px;
    right: 0px;
  }

  25% {
    top: 110px;
    right: 0px;
  }

  50% {
    right: 110px;
    top: 110px;
  }

  75% {
    right: 110px;
    top: 0px;
  } 
}

.pic3 {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0px;
  bottom: 0px;
  animation-name: pic3;
  animation-duration: 7s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes pic3 {

  0% {
    top: 110px;
    right: 0px;
  }

  25% {
    top: 110px;
    right: 110px;
  }

  50% {
    right: 110px;
    top: 0px;
  }

  75% {
    right: 0px;
    top: 0px;
  }

  100% {
    right: 0px;
    top: 110px;
  }
}

.pic4 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0px;
  bottom: 0px;
  animation-name: pic4;
  animation-duration: 7s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes pic4 {

  0% {
    bottom: 0px;
    left: 0px;
  }

  25% {
    bottom: 110px;
    left: 0px;
  }

  50% {
    bottom: 110px;
    left: 110px;
  }

  75% {
    left: 110px;
    bottom: 0px;
  }

  100% {
    right: 110px;
    bottom: 0px;
  }
}
.box2-1 {
  justify-content: center;
  width: 100%;
  margin-left: 0px;
  display: flex;
}

.box3 {
  width: 100%;
  height: 500px;
  margin-left: 0px;
  margin-top: 300px;
}

.heading1 {
 margin-left: 0px;
}

.heading2 {
  margin-left: 0px;
}

.heading3 {
 margin-left: 0px;
}

.heading4 {
 margin-left: 0px;
}

.img1 {
  margin-left: 150px;
  margin-top: 30px;
}

.heading5 {
 width: 100%;
 margin-left: 20px;
}

.para1 {
  margin-left: 5px;
  text-align: left;
 
}
}