 
  .nav1 a {
    font-weight: 500;
  }
  .nav1 a:hover {
    color: black;
  }
  
  .dropdown-toggle {
    color: black !important;
  }
  
  .dropdown-item {
    background-color: white !important;
  }
    
  .item {
    height: 50px;
    color: rgba(8, 8, 8, 0.788) !important;
    padding: 5px !important;
    font-size: 15px;
    width: 210px !important;
    font-weight: 400 !important;
  }
  
  .item:hover {
    border-left: 2px solid goldenrod;
  }
  
  .fa1 {
    position: absolute;
    right: 10px;
    margin-top: 5px !important;
  }
  
  .dropdownmenu1 {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 10px;
    position: absolute;
    top: 0px;
    right: -213px;
    display: none;
  }
  
  .dropdownmenu2 {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 10px;
    position: absolute;
    top: 60px;
    right: -213px;
    display: none;
  }
  
  .dropdownmenu3 {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 10px;
    position: absolute;
    top: 120px;
    right: -213px;
    display: none;
  }
  
  .dropdown-item {
    margin: 5px 0px !important;
    color: rgba(8, 8, 8, 0.788) !important;
  }
  
  .dropdownmenu1 a {
    font-size: 15px !important;
    font-weight: 400 !important;
    color: rgba(8, 8, 8, 0.788);
    font-size: 15px;
    padding: 15px !important;
    width: 210px !important;
    font-weight: 500 !important;
  
  }
  
  .dropdownmenu2 a {
    font-size: 15px !important;
    font-weight: 400 !important;
    color: rgba(8, 8, 8, 0.788);
    font-size: 15px;
    padding: 15px !important;
    width: 210px !important;
    font-weight: 500 !important;
  
  }
  
  .dropdownmenu3 a {
    font-size: 15px !important;
    font-weight: 400 !important;
    color: rgba(8, 8, 8, 0.788);
    font-size: 15px;
    padding: 15px !important;
    width: 210px !important;
    font-weight: 500 !important;
  
  }
  
  .item:hover .dropdownmenu1 {
    display: block;
  }
  
  .dropdownmenu1 a:hover {
    border-left: 2px solid goldenrod;
  }
  
  .item:hover .dropdownmenu2 {
    display: block;
  }
  
  .dropdownmenu2 a:hover {
    border-left: 2px solid goldenrod;
  
  }
  
  .item:hover .dropdownmenu3 {
    display: block;
  }
  
  .dropdownmenu3 a:hover {
    border-left: 2px solid goldenrod;
  
  }
  .btn2{
    position: absolute;
    position: fixed;
    border: none !important;
    padding: 10px !important;
    border-radius: 25px !important;
    color: rgba(0, 0, 0, 0.61) !important;
    font-weight: 700 !important;
    background-color: white !important;
    width: 120px;
    right: 20px;
    bottom: 15px;
  }

  @media screen and (max-width: 500px){
    .navbar{
      width: 100% !important;
    }
    .btn1 {
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 8px !important;
      border: none !important;
      border-radius: 8px !important;
      color: white;
      font-weight: bolder !important;
      width: 210px;
      margin-left: 0px !important;
      background: linear-gradient(to right, #00c6ff, #0072ff);
    } 
    .dropdown-toggle {
      margin-left: 0px !important;
      color: black !important;
    }
    .nav1 a {
      font-weight: 500;
      margin-left: 0px !important;
    }
    .dropdownmenu1 {
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.175);
      border-radius: 10px;
      position: absolute;
      top: 100px;
      left: 0px;
      display: none;
    }
    .dropdownmenu2 {
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.175);
      border-radius: 10px;
      position: absolute;
      top: 160px;
      left: 0px;
      display: none;
    }
    .dropdownmenu3 {
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.175);
      border-radius: 10px;
      position: absolute;
      top: 100px;
      left: 0px;
      display: none;
    }
   
  }